# SwiftFormat Configuration for Momentum

# Indentation
--indent 4
--tabwidth 4

# Line Length  
--maxwidth 120

# Braces
--allman false

# Basic spacing that matches current style
--trimwhitespace always
--linebreakAtEndOfFile enabled

# Import grouping (Foundation first, external deps, then internal)
--importgrouping testable-bottom

# Don't change code style, just enforce consistency
--self init-only
--swiftversion 5.9

# Disable rules that would change existing code style
--disable andOperator
--disable anyObjectProtocol  
--disable blankLinesAroundMark
--disable extensionAccessControl
--disable fileHeader
--disable leadingDelimiters
--disable modifierOrder
--disable numberFormatting
--disable preferKeyPath
--disable redundantBackticks
--disable redundantGet
--disable redundantInit
--disable redundantLetError
--disable redundantNilInit
--disable redundantObjc
--disable redundantOptionalBinding
--disable redundantRawValues
--disable redundantSelf
--disable redundantType
--disable sortImports
--disable strongOutlets
--disable strongifiedSelf
--disable todos
--disable trailingClosures
--disable typeSugar
--disable unusedArguments
--disable wrapArguments
--disable wrapEnumCases
--disable yodaConditions